
<footer>
    <div class="accordion w-100" id="accordion-group">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <app-widget-page titolo="Chi siamo" idname="p1" dataName="prova" groupref="accordion-group"></app-widget-page>
                </div>
                <div class="col-12 col-md-4">
                    <app-widget-page titolo="Sitemap" idname="p2" dataName="prova" groupref="accordion-group"></app-widget-page>
                </div>
                <div class="col-12 col-md-4">
                    <app-widget-page titolo="Contatti" idname="p2" dataName="prova" groupref="accordion-group"></app-widget-page>
                </div>
            </div>
        </div>
    </div>
</footer>
<p class="text-center creditbar"> <a href='https://menostudio.it' target="__blank">MENO</a> &#9829; Angular product</p>