
<footer>
    <div class="accordion w-100" id="accordion-group">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <app-widget-page idname="p1" dataName="footer-box-1" groupref="accordion-group"></app-widget-page>
                </div>
                <div class="col-12 col-md-4">
                    <app-widget-page  idname="p2" dataName="footer-box-2" groupref="accordion-group"></app-widget-page>
                </div>
                <div class="col-12 col-md-4">
                    <app-widget-page idname="p2" dataName="footer-box-3" groupref="accordion-group"></app-widget-page>
                </div>
            </div>
        </div>
    </div>
</footer>
<p class="text-center creditbar"> <a href='https://menostudio.it' target="__blank">MENO</a> &#9829; Angular product</p>