
<footer>
    <div class="accordion w-100" id="accordion">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <app-widget-page titolo="Prova" dataName="prova"></app-widget-page>
                </div>
                <div class="col-12 col-md-4">
                    <app-widget-page titolo="Prova" dataName="prova"></app-widget-page>
                </div>
                <div class="col-12 col-md-4">
                    <app-widget-page titolo="Prova" dataName="prova"></app-widget-page>
                </div>
            </div>
        </div>
    </div>
</footer>
