<div id="hero" class="page-title"></div>
<section class="sezione">
    
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                    </div>
                </div>

                <h1>Titolo 1</h1>
               
            </div>
             <div class="col-6">
               
                <h1>Titolo 1</h1>
                <h2>Titolo 2</h2>
                <h3>Titolo 3</h3>
                <h4>Titolo 4</h4>
                <h5>Titolo 5</h5>
                <h6>Titolo 6</h6>
            </div>
            
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>
    

    </div>
</section>

<section class="sezione">
    
    <div class="container">
        

        <div class="row">
            <div class="col-12 col-md-6 ">
                <div><img src='assets/img/77755e565ef7ddbff2546231cd8732bf.png' class="img-fluid"/></div>
            </div>
            <div class="col-12 col-md-6">
                
                <h2>Titolo 2</h2>
                <p>testo</p>
            </div>
            
        </div>

    </div>
</section>