/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


#hero{
    height: 60vh;
    width: 100vw;
    background-color: rgb(5, 221, 225);
}

.navbar-toggler{
    border: 0px solid #fff;
    padding: 2px;
    font-size: large;
    zoom: 1.3;
}
.navbar-collapse{
    background-color: #131313;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link{
    color: #fff;
    text-align: center;
    font-size: 18pt;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.sezione{
    padding: 8vh 0px 8vh;
}

.navbar-brand > img{
   width: 200px;

}
footer{
    padding: 90px 0px 90px;
    background-color: rgb(227, 227, 227);
}
.creditbar{
    font-size: 12px;
    text-align: center;
}

.top-100{
    padding: 22px;
    padding-top: 30px;
}