/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


#hero{
    height: 60vh;
    width: 100vw;
    background-color: rgb(5, 221, 225);
}

.sezione{
    padding: 8vh 0px 8vh;
}

.navbar-brand > img{
   width: 200px;

}