/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


#hero{
    height: 60vh;
    width: 100vw;
    background-color: rgb(5, 221, 225);
}

.navbar-toggler{
    border: 0px solid #fff;
    padding: 2px;
    font-size: large;
    zoom: 1.3;
}

.sezione{
    padding: 8vh 0px 8vh;
}

.navbar-brand > img{
   width: 200px;

}
footer{
    padding: 90px 0px 90px;
    background-color: rgb(227, 227, 227);
}
.creditbar{
    font-size: 12px;
    text-align: center;
}