

:host {
    display: block;
    border: 0px solid black;
    min-height: 80vh;
}

.page-title {
    padding: 90px 0px 20px;
    background-color: #333;
}

.page-title h3{
    color: #fff;
    text-align: center;
}

